// variables
$primary-color: hsl(205,80%,60%);
$secundaty-color: hsl(0, 10%, 10%);

// layout
$max-width: 1200px;


@import "base/normalize";
@import "base/base";
@import "layout/layout";
@import "theme/header";
@import "modules/modules";
@import "theme/menu";
@import "theme/banner";